@* @model IEnumerable<SingleViewWithMultipleModel.Models.Student> *@
    @model SingleViewWithMultipleModel.Models.SchoolViewModelcs;
@{
    ViewData["Title"] = "Home Page";
}

<h2>Students List</h2>
<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Gender</th>
                <th>Standard</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var student in Model.Mystudents)
            {
                <tr>
                    <td>@student.Id</td>
                    <td>@student.Name</td>
                    <td>@student.Gender</td>
                    <td>@student.Standard</td>
                </tr>
            }
        </tbody> 
        
    </table>
</div>

<h2>Teacher List</h2>
<div class="container">
    @if(Model.Myteachers.Any())
    {
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Qualification</th>
                <th>Salary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var teacher in Model.Myteachers)
            {
                <tr>
                    <td>@teacher.Id</td>
                    <td>@teacher.Name</td>
                    <td>@teacher.Qualification</td>
                    <td>@teacher.Salary</td>
                </tr>
            }
        </tbody>

        </table>
    }
    else
    {
        <h2>No Student Found..</h2>
    }
</div>